.panel
  //padding: 5px 5px
  border: 1px solid #d5d5d5
  border-radius:2px
.panel-heading
  margin: 0
  font-size: 14px
  font-family: "microsoft yahei"
  border-bottom: 1px solid #e5e5e5
  color: #666
  background: #fafafa
  span.pull-left
    line-height: 28px
    i
      padding-right: 8px
      margin-right: 8px
      border-right: 1px solid #ddd
      color: #007AFF
  span.pull-center
    display: block
    float: right
    width: 55%
    b
      font-size: 20px
      line-height: 29px
  .btn
    padding:3px 12px
.panel-title
  font-size: 14px
.panel-wrapper
  display: inline-block
  padding: 5px 4px
  width: 100%