.panel {
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}
.panel-heading {
  margin: 0;
  font-size: 14px;
  font-family: "microsoft yahei";
  border-bottom: 1px solid #e5e5e5;
  color: #666;
  background: #fafafa;
}
.panel-heading span.pull-left {
  line-height: 28px;
}
.panel-heading span.pull-left i {
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid #ddd;
  color: #007aff;
}
.panel-heading span.pull-center {
  display: block;
  float: right;
  width: 55%;
}
.panel-heading span.pull-center b {
  font-size: 20px;
  line-height: 29px;
}
.panel-heading .btn {
  padding: 3px 12px;
}
.panel-title {
  font-size: 14px;
}
.panel-wrapper {
  display: inline-block;
  padding: 5px 4px;
  width: 100%;
}
body {
  color: #797979;
  background: #eee;
  font-family: tahoma, arial, "microsoft yahei", sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px !important;
}
h1,
h2,
h3,
h4,
h5,
label {
  font-weight: 300;
}
ul li {
  list-style: none;
}
a,
:hover,
:focus {
  text-decoration: none;
  outline: none;
  outline: 0;
}
*:focus {
  outline: none;
}
table tr th {
  color: #007aff;
}
::selection,
::-moz-selection {
  background: #007aff;
  color: #eee;
}
.wrapper {
  display: inline-block;
  width: 100%;
}
.code-box {
  margin: auto 6px !important;
}
.padding0 {
  padding: 0px;
}
.margin0 {
  margin: 0px;
}
.padding5 {
  padding: 5px;
}
.margin5 {
  margin: 5px;
}
.padding10 {
  padding: 10px;
}
.margin10 {
  margin: 10px;
}
.padding15 {
  padding: 15px;
}
.margin15 {
  margin: 15px;
}
.padding20 {
  padding: 20px;
}
.margin20 {
  margin: 20px;
}
.padding25 {
  padding: 25px;
}
.margin25 {
  margin: 25px;
}
.padding30 {
  padding: 30px;
}
.margin30 {
  margin: 30px;
}
.padding-top0 {
  padding-top: 0px;
}
.margin-top0 {
  margin-top: 0px;
}
.padding-top5 {
  padding-top: 5px;
}
.margin-top5 {
  margin-top: 5px;
}
.padding-top10 {
  padding-top: 10px;
}
.margin-top10 {
  margin-top: 10px;
}
.padding-top15 {
  padding-top: 15px;
}
.margin-top15 {
  margin-top: 15px;
}
.padding-top20 {
  padding-top: 20px;
}
.margin-top20 {
  margin-top: 20px;
}
.padding-top25 {
  padding-top: 25px;
}
.margin-top25 {
  margin-top: 25px;
}
.padding-top30 {
  padding-top: 30px;
}
.margin-top30 {
  margin-top: 30px;
}
.padding-right0 {
  padding-right: 0px;
}
.margin-right0 {
  margin-right: 0px;
}
.padding-right5 {
  padding-right: 5px;
}
.margin-right5 {
  margin-right: 5px;
}
.padding-right10 {
  padding-right: 10px;
}
.margin-right10 {
  margin-right: 10px;
}
.padding-right15 {
  padding-right: 15px;
}
.margin-right15 {
  margin-right: 15px;
}
.padding-right20 {
  padding-right: 20px;
}
.margin-right20 {
  margin-right: 20px;
}
.padding-right25 {
  padding-right: 25px;
}
.margin-right25 {
  margin-right: 25px;
}
.padding-right30 {
  padding-right: 30px;
}
.margin-right30 {
  margin-right: 30px;
}
.padding-bottom0 {
  padding-bottom: 0px;
}
.margin-bottom0 {
  margin-bottom: 0px;
}
.padding-bottom5 {
  padding-bottom: 5px;
}
.margin-bottom5 {
  margin-bottom: 5px;
}
.padding-bottom10 {
  padding-bottom: 10px;
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.padding-bottom15 {
  padding-bottom: 15px;
}
.margin-bottom15 {
  margin-bottom: 15px;
}
.padding-bottom20 {
  padding-bottom: 20px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.padding-bottom25 {
  padding-bottom: 25px;
}
.margin-bottom25 {
  margin-bottom: 25px;
}
.padding-bottom30 {
  padding-bottom: 30px;
}
.margin-bottom30 {
  margin-bottom: 30px;
}
.padding-left0 {
  padding-left: 0px;
}
.margin-left0 {
  margin-left: 0px;
}
.padding-left5 {
  padding-left: 5px;
}
.margin-left5 {
  margin-left: 5px;
}
.padding-left10 {
  padding-left: 10px;
}
.margin-left10 {
  margin-left: 10px;
}
.padding-left15 {
  padding-left: 15px;
}
.margin-left15 {
  margin-left: 15px;
}
.padding-left20 {
  padding-left: 20px;
}
.margin-left20 {
  margin-left: 20px;
}
.padding-left25 {
  padding-left: 25px;
}
.margin-left25 {
  margin-left: 25px;
}
.padding-left30 {
  padding-left: 30px;
}
.margin-left30 {
  margin-left: 30px;
}
